---
layout: page
title: Evolution
date: 2012-01-21 01:37:14
permalink: /project-evolution/
---
<p style="text-align: left;">Process of creating Mr. Ball(<a href="http://www.arjaloc.com/MR.BALL/galeria.htm">http://www.arjaloc.com/MR.BALL/galeria.htm</a>). Mr. Ball is an action-packed platform game, created with kids in mind. Taking on the role of a dippy sphere, you're tasked with traversing through 5 huge worlds.</p>
<p style="text-align: center;"><a href="http://blog.mobiledev.pl/wp-content/uploads/2012/01/1.jpg"><img class="aligncenter" title="2" alt="" src="/assets/1.jpg" width="800" height="600" /></a></p>
<p style="text-align: center;"><a href="http://blog.mobiledev.pl/wp-content/uploads/2012/01/2.jpg"><img class="aligncenter" title="2" alt="" src="/assets/2.jpg" width="800" height="600" /></a></p>
<p style="text-align: center;"><a href="http://blog.mobiledev.pl/wp-content/uploads/2012/01/3.jpg"><img class="aligncenter" title="3" alt="" src="/assets/3.jpg" width="800" height="600" /></a></p>
<p style="text-align: center;"><a href="http://blog.mobiledev.pl/wp-content/uploads/2012/01/4.jpg"><img class="aligncenter" title="4" alt="" src="/assets/4.jpg" width="800" height="600" /></a></p>
<p style="text-align: center;"><a href="http://blog.mobiledev.pl/wp-content/uploads/2012/01/5.jpg"><img class="aligncenter" title="5" alt="" src="/assets/5.jpg" width="800" height="600" /></a></p>
<p style="text-align: center;"><a href="http://blog.mobiledev.pl/wp-content/uploads/2012/01/6.jpg"><img class="aligncenter" title="6" alt="" src="/assets/6.jpg" width="800" height="600" /></a></p>
<p style="text-align: center;"><a href="http://blog.mobiledev.pl/wp-content/uploads/2012/01/7.jpg"><img class="aligncenter" title="7" alt="" src="/assets/7.jpg" width="800" height="600" /></a></p>
<p style="text-align: center;"><a href="http://blog.mobiledev.pl/wp-content/uploads/2012/01/9.jpg"><img class="aligncenter" title="9" alt="" src="/assets/9.jpg" width="800" height="600" /></a></p>
<p style="text-align: center;"><a href="http://blog.mobiledev.pl/wp-content/uploads/2012/01/8.jpg"><img class="aligncenter" title="8" alt="" src="/assets/8.jpg" width="800" height="600" /></a></p>
<p style="text-align: center;"><a href="http://blog.mobiledev.pl/wp-content/uploads/2012/01/21.jpg"><img class=" wp-image-606 aligncenter" title="2" alt="" src="/assets/21.jpg" width="800" height="600" /></a></p>
<div style="text-align: center;"></div>
