---
layout: post
title: How to upgrade to Android Froyo
date: 2010-05-23 11:07:19
---
<p>I have just installed <strong>Froyo</strong> on my <strong>Nexus One</strong>. Official OTA update is not available yet, so I had to install it manually. Best explanation how to do is described on pocketnow.com (<a href="http://pocketnow.com/tweaks-hacks/video-flashing-froyo-on-your-nexus-one">http://pocketnow.com/tweaks-hacks/video-flashing-froyo-on-your-nexus-one</a>), here are the steps you should follow:</p>
<p><!--more-->For those of you who want to run Froyo on your <strong>Nexus One</strong>, and have not flashed a custom ROM:<br />
1. <a href="http://android.clients.google.com/packages/passion/signed-passion-FRF50-from-ERE27.1e519a24.zip">download the Froyo image</a><br />
2. rename it to <strong>update.zip</strong><br />
3. copy it to the root of your sdcard<br />
4. reboot into recovery mode<br />
5. flash the update.zip file<br />
6. enjoy your Froyo</p>
<p>If you're running a custom ROM and want to run Froyo, you'll need to:<br />
1. backup (optional)<br />
2. wipe<br />
3. <a href="http://android.modaco.com/content/google-nexus-one-nexusone-modaco-com/300414/10-may-erd79-epf21b-stock-rom-for-nexus-one-images-zip-online-kitchen-optional-root-insecure-himem/">flash the stock ROM</a><br />
4. flash the <a href="http://download120.mediafire.com/qyzb0400j5ig/m12g2eqotky/recovery.img">stock recovery.img</a><br />
5. get the 2.1 Update 1 update OTA (see video)<br />
6. go through the previous steps above for non-custom ROMs</p>
<p>After using <strong>Froyo</strong> for a while you certenly will discover that system is a bit faster. Sliding between home screens is smoother and browser works a lot faster. Other applications also seems to open quicker. More about the update you can read here: <a href="http://googlesystem.blogspot.com/2010/05/android-22-froyo-is-major-update.html">http://googlesystem.blogspot.com/2010/05/android-22-froyo-is-major-update.html</a></p>
<p>Short video tutorial how to update your Nexus One to Froyo:</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/w-G4XYC4Ex0" frameborder="0" allowfullscreen></iframe>
