---
layout: post
title: Symbian S60 JSON library goes public!
date: 2010-05-30 13:59:42
---
<img class="alignleft" title="JSON" alt="JSON" src="/assets/json160.gif" width="58" height="58" />
<p>I am just after short email exchage between me and Douglas Crockford(owner of <a href="http://www.json.org/">http://www.json.org/</a>). As a result of this conversation my Symbian S60 JSON library (<a href="http://code.google.com/p/s60-json-library/">http://code.google.com/p/s60-json-library/</a>) is now available from official JSON website. Thanks for those who were suggesting me that!</p>
<p>PS. As you can see, I have added page "Ubuntu tips&amp;tricks", it will be small page with useful commands, tools, etc. If you have any ideas or suggestions, please write a comment. Ubuntu is operating system on which I work recently so I suppose that this page might grow quite big over time.</p>
