---
layout: post
title: Improved Meld (diffing tool)
date: 2010-07-15 20:06:45
---
<img title="meld_logo" src="/assets/meld_logo.png" width="49" height="49" />
<p></a>I have started working on my own project on sourceforge: <a href="https://sourceforge.net/projects/meld-modified/">https://sourceforge.net/projects/meld-</a><a href="https://sourceforge.net/projects/meld-modified/">modified/</a>. It's based on well known tool for merging and comparison of files and directories Meld.</p>
<p>My goals:</p>
<ul>
<li>better directory comparison
<ul>
<li>show/hide new/modified/deleted files on every pane</li>
<li>hide not modified directories</li>
</ul>
</li>
<li>save/load current session</li>
</ul>
