---
layout: post
title: Windows Phone 7 review
date: 2010-10-24 23:08:58
---
<img title="wphonesmshack" src="/assets/wphonesmshack-300x266.png" alt="" width="300" height="266" /><p></a>I have bought Windows Phone 7 two days ago, and I just want to write few words about my impressions. First of all... it is very nice piece of software :)</p>
<p>My handset is HTC HD 7 from O2, bought as Pay &amp; Go, and it is unlocked so I can use it with any operator.</p>
<p style="text-align: left;">After two days of using it, I can say that I am happy about it. It is more personal than previous phones that I have used, and with better touch interface. The things that I like the most are: email client!, calendar!, people hub!, lock screen, home screen :) You can read reviews about those things on the net already so I won't write about them.<!--more--></p>
<p style="text-align: left;">Probably you expect me to do some comparison with iPhone and Android... well Windows Phone 7 is completely different, from UI perspective, there is no too much graphics, most of animations are text based, with some 2D animations. Email, calendar, contacts are definitely the best ones that I saw so far. Big disadvantage? Internet Explorer which shows pages like it would be feature phone, with very poor browser... but that is not fault of IE itself, more of web pages that threat it as not that powerful, but now they should, so I think that it will change in the near future :) Browser is very light, without not necessary buttons, and UI, leaves a lot of screen for actual browsing.</p>
<p style="text-align: left;">On Windows Marketplace is few hundreds apps, but still many missing like... Google Translator, Google Talk, Skype, 3D games, etc. but it is good news for developers, right? :)</p>
<p style="text-align: left;">OS is version 1.0 and you can see it... it lacks youtube, not too much settings, few things in UI that can be improved. Microsoft promises updates, so I am optimistic. I would say that in a year it can be real competitor to Android and iPhone.</p>
<p style="text-align: left;">
