---
layout: post
title: Pictures from trip to London
date: 2010-07-14 22:43:56
---
<p>Hello, last week I have been in London to help our client integrate our components of Android operating system. Here is bunch of photos if you would like to see how we spent time :)</p>
<p><a href="http://picasaweb.google.pl/wach.piotrek/Londyn#">http://picasaweb.google.pl/wach.piotrek/Londyn#</a></p>
<p>From this point I can say that I have became mobile os developer! :) It is new, exciting experience. I am looking forward to continue my work in this area. Stay tuned for posts about mobile systems development.</p>
