---
layout: post
title: Summary of the 2010 and plans for the future
date: 2011-01-01 22:03:55
---
<p><span style="color: #000000;">Happy New Year 2011! I wish you to be at least as good as the last year :)</span></p>
<p><span style="color: #000000;">Let's look which of the things I have planned to accomplish in 2010 were done and which weren't.</span></p>
<p><span style="color: #000000;">Plans for 2010:</span></p>
<ul>
<li><span style="color: #000000;">write an application for Android (I am android os developer, I have understanding of system internals, and of course I have written few applications for Android, including low level system components)</span></li>
<li><span style="color: #000000;">enrol in an English course (it was 4 months advanced English course in Profi-lingua)</span></li>
<li><span style="color: #000000;">go for vacations to Greece (it was Croatia, not Greece, but it was fun nevertheless :)</span></li>
<li><span style="color: #000000;">learn how to work in the team (I have worked as contact person for team of 8 people, managing communication between teams in London and Warsaw)</span></li>
<li><span style="color: #800000;">finish my studies (still working on it)</span></li>
<li><span style="color: #000000;">switch to English on my website</span></li>
<li><span style="color: #800000;">release few open source projects</span></li>
<li><span style="color: #000000;">go for the Game Developer's Conference in Siedlce and win</span></li>
</ul>
<div><span style="color: #000000;"><!--more--></span></div>
<p><span style="color: #000000;">Few additional things that I have managed to accomplish or learn:</span></p>
<ul>
<li><span style="color: #000000;">buy Windows Phone 7 device, and start developing software for this platform</span></li>
<li><span style="color: #000000;">go to London several times and live there for 3 months</span></li>
<li><span style="color: #000000;">participate in world-scale mobile project, and play there important part</span></li>
<li><span style="color: #000000;">learn a lot about Facebook API</span></li>
<li><span style="color: #000000;">release my first application to Windows Marketplace and start earning money from my own work and ideas</span></li>
<li><span style="color: #000000;">meet amazing and inspiring people during my stay in London</span></li>
<li><span style="color: #000000;">learn how to use linux &amp; console and appreciate it a lot!</span></li>
<li><span style="color: #000000;">start to use git and mercurial</span></li>
<li><span style="color: #000000;">do everything from command line</span></li>
<li><span style="color: #000000;">finish big backup &amp; restore &amp; synchronization project</span></li>
</ul>
<p><span style="color: #000000;">It was quite a lot, huh? I would have never thought that I will do so many things if you were told me this at the beginning of 2010 :)</span></p>
<p><span style="color: #000000;">Plans for 2011? Let's see:</span></p>
<ul>
<li><span style="color: #000000;">go with Gosia to London for few months, this time between June and September</span></li>
<li><span style="color: #000000;">increase income from my private development to 1000$/month</span></li>
<li><span style="color: #000000;">learn design patterns, and how to make good design</span></li>
<li><span style="color: #000000;">learn test driven development</span></li>
<li><span style="color: #000000;">learn professional project management and scrum methodology</span></li>
<li><span style="color: #000000;">go on vacations to Italy(?)</span></li>
<li><span style="color: #000000;">enrol for an English course</span></li>
</ul>
<p><span style="color: #000000;">Looks like this year will be again quite busy. Looking forward for what unexpected will happen! :)</span></p>
