---
layout: post
title: "New Windows Phone app: Pocket Translator"
date: 2011-01-14 20:43:26
---
<img title="small" src="/assets/small.png"/><p><a href="http://social.zune.net/redirect?type=phoneApp&amp;id=d1057ce1-e207-e011-9264-00237de2db9e">Pocket Translator</a></strong> is a Windows Phone 7 application that gives you ability to translate back and forth between more than 50 languages, playback audio of the transaltion, and bring the power of the Google Translator to your phone.</p>
<p>The design of the application adjusts to your theme settings, and really makes it your personal translator, suitable for both vacations and business trips.</p>
<div style="text-align: center;"><a title="Pocket Translator" href="http://www.windowsphone.com/en-US/apps/d1057ce1-e207-e011-9264-00237de2db9e"><img class="aligncenter  wp-image-532" title="download" alt="" src="/assets/download.png" width="132" height="43" /></a></div>
<p><!--more-->Features:</p>
<ul>
<li>translates 50 languages, including Japanese and Chinese</li>
<li>translations of single words with alternative meanings</li>
<li>pronunciation tips</li>
<li>common phrases</li>
<li>send translations by sms and email</li>
<li>off-line history</li>
</ul>
<p style="text-align: center;"><a href="http://blog.mobiledev.pl/wp-content/uploads/2011/01/Capture.png"><img class="size-medium wp-image-467" title="Capture" alt="" src="/assets/Capture.png" width="144" height="240" /></a><a href="http://blog.mobiledev.pl/wp-content/uploads/2011/01/Capture_.png"><img class="size-medium wp-image-469" style="margin-left: 5px; margin-right: 5px;" title="Capture_" alt="" src="/assets/Capture_.png" width="144" height="240" /></a><a href="http://blog.mobiledev.pl/wp-content/uploads/2011/01/Capture2.png"><img class="size-medium wp-image-465" style="margin-left: 5px; margin-right: 5px;" title="Capture2" alt="" src="/assets/Capture2.png" width="144" height="240" /></a></p>
