---
layout: post
title: Summary of 2012/2013 and plans for New Year
date: 2014-01-11 20:39:05
---
<p>I have not written any summary since 2010, and I don't remember much from 2011, but I want to write short summary for 2012 and 2013. They were busy years, lots of things happened!</p>
<p><!--more--><strong></strong><strong>February 2012:</strong> moved in to new flat with Gosia. That place was great, one of the best we have lived in - cozy one bedroom,  in central Warsaw. We still sometimes talk about how great was living there.</p>
<p><strong>April-June:</strong> I was working on new version of Apphance - library that let you report bug reports from your mobile app.</p>
<p><strong>July:</strong> as a result of working on Apphance, I had the change to go to San Francisco and help integrate it with task management system and apps for one of the most well known IT company in the world. I spent four weeks on-site, and used all my free time when I was not working to travel around California and sightseeing. I definitely recommend visiting Yosemite National Park!</p>
<p><strong>August:</strong> we began to plan what we want to do next, we were planning to move abroad, and our plans began co crystallize. I went for job interview for Amazon to Prague, and few weeks later for few days to London. Interviews went well and even that Toronto sounds great, we've chosen to move to London.</p>
<p><strong>September:</strong> I started working at Bloomberg on 10th as Senior Software Engineer in our mobile team(we are responsible for Bloomberg Anywhere app). The team here is great, we have a lot of very talented people. Move to London went pretty smoothly, I have found a flat after a week, and we moved in at the end of the month. Our flat was in Canning Town, close to DLR and <a href="http://www.emiratesairline.co.uk/the-view">Emirates Airline</a>.</p>
<p><strong>October-March-May:</strong> We were working  hard and trying to get used to new place. In March we have moved to new place near Langdon Park, only few stations from Canning Town via DLR, but with much better transport to the office and nicer flat.  Then we spend some time furnishing the flat, buying appliance, etc.</p>
<p><strong>June:</strong> I went to WWDC 2013 to San Francisco with couple fom guys from the company. Great experience, we rented a car and traveled around San Francisco, Palo Alto and of course Cupertino.</p>
<p><strong>6th July:</strong>  me and Gosia got married!  We had great wedding in Warsaw, with family and lot of friends. I would like to thank everyone that came to celebrate with us! After the wedding we went for honeymoon to Turkey.</p>
<p><strong>August-January:</strong> busy time at work modernizing our code base - learned a lot, and enjoyed this time the most. We were pair programming for around three months and it  was good experience, we have shared knowledge, improved communication within the team, and produced something that will last a long time!</p>
<p>That's it. Now, following tradition from previous years let's take a look at what I have planned to do and what I have managed to accomplish:</p>
<ul>
<li>"go with Gosia to London for few months, this time between June and September" - done</li>
<li>"increase income from my private development to 1000$/month" - well, fail</li>
<li>"learn design patterns, and how to make good design" - done</li>
<li>"learn test driven development" - done</li>
</ul>
<p>Plans for 2014?</p>
<ul>
<li>gain expertise in C++11, modern C++ development, cross platform development</li>
<li>go sightseeing UK a bit more: Lake District, castle in Edinburgh, York(recommendations are welcome)</li>
<li>learn few more programming languages: python, bash, ruby, perl</li>
<li>release some new Windows Phone apps</li>
<li>learn cmake, vagrant, jenkins(more in-depth)</li>
<li>build some awesome tools for analyzing git repositories (most changed files, some visualization like gource, etc.)</li>
<li>go to the gym more than I do at the moment</li>
<li>maintain this blog</li>
</ul>
<p>Happy 2014!</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
